.cardContainer {
  max-height: 100%;
  width: 19%;
  border: solid black 1px;
  margin-right: 1%;
  margin-left: 1%;
}

/* .imageContainer {
  width: ;
} */

.cardImg {
  width: 100%;
  height: 75%;
  object-fit: cover;
}



.compare {
  padding: 1.5%;
  position: absolute;
}

.category {
  font-size: 0.8rem;
  font-weight: 100;
  padding: 0.2rem;
}

.name {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0.2rem;
}

.price {
  font-size: 0.8rem;
  font-weight: 100;
  padding: 0.2rem;
}

.rating {
  padding: 0.2rem;
}