.descriptionContainer {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10%;
}

.description {
  font-weight: 200;
  font-size: 100%;
}

.slogan {
  font-size: 150%;
}
