.gridContainer {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "major minor"
  ;
}

.major {
  grid-area: major;
}

.minor {
  grid-area: minor;
  padding-left: 7%;
  padding-right: 7%;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}
