.styleContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.styleImageContainer {
  display: inline-block;
  padding: 2%;
}

.styleImage {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  object-fit: cover;
}
