.review_list {
  padding: 10px 0;
  border-bottom: 1px solid #888;
}

.reviewer_name {
  font-size: 12px;
}

.reviewer_helpful {
  display: flex;
  font-size: 12px;
  color: gray;
  .report-button {
    border: none;
    padding: 0;
    text-decoration: underline;
    background-color: transparent;
    font-size: 12px;
    color: gray;
  }
  .separator {
    margin: 10px 10px;
  }
}
