//  .box {
//    display:flex; flex-direction:row;
// }
// .ratings-and-reviews {
// font-family: 'Roboto', sans-serif;
// }

.box {
  width: 1000px;
  height: 500px;
}

.rating_box {
  float: left;
  width: 350px;
  height: 500px;
}

.reviewlist_box {
  float: left;
  width: 650px;
  height: 500px;
}
